<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminNavbar :: html_head">
</head>
<body>
<div th:replace="admin/adminNavbar :: navbar"></div>
    <div class="container" style="min-height: 82.5vh;">

    <h3>Add new project.</h3>

    <form class="form-horizontal" th:object="${project}" th:action="@{/admin/addProject}" th:method="post">
        <div class="form-group">
            <label class="control-label">Name:</label>
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <input type="text" class="form-control" th:field="*{name}"/>
            <p  class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Description:</label>
            <textarea type="text" class="form-control" rows="7" th:field="*{description}"/>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
        </div>

        <p class="alert alert-success" th:if="${message}" th:text="${message}"/>
        <div class="row">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

    </form>

        <button class="btn btn-default"> <a href="/admin/allProjects">Back</a></button>

    </div>
<div th:replace="footer :: footer"></div>
</body>
</html>
