<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminNavbar :: html_head">
</head>
<body>
<div th:replace="admin/adminNavbar :: navbar"></div>
<div class="container" style="min-height: 82.5vh;">

    <h3>Add task to project id:  <span th:text="${task.project_id}" /> </h3>

    <form class="form-horizontal" th:object="${task}" th:action="@{/admin/editProject/addTask/__${task.project_id}__}" th:method="post">
        <div class="form-group">
            <label class="control-label">Task title:</label>
            <input type="text" class="form-control" th:field="*{title}"/>
            <input type="hidden" class="form-control" th:field="*{project_id}"/>
            <p class="alert alert-danger" th:if="${emptyTitle}" th:text="${emptyTitle}"/>
            <p class="alert alert-danger" th:if="${specialCharactersExists1}" th:text="${specialCharactersExists1}"/>
            <p class="alert alert-danger" th:if="${tooShortTitle}" th:text="${tooShortTitle}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Description:</label>
            <textarea type="text" class="form-control" rows="7" th:field="*{description}"/>
            <p class="alert alert-danger" th:if="${specialCharactersExists2}" th:text="${specialCharactersExists2}"/>
            <p class="alert alert-danger" th:if="${tooLongDescription}" th:text="${tooLongDescription}"/>
            <p class="alert alert-danger" th:if="${tooShortDescription}" th:text="${tooShortDescription}"/>
        </div>
        <div class="form-group">
            <label class="control-label">Select employee who will be responsible the task:</label>
            <br>
            <select id="employees" class="form-control" th:field="*{employee_id}"></select>
            <p class="alert alert-danger" th:if="${emptyEmployeeId}" th:text="${emptyEmployeeId}"/>
            <p class="alert alert-danger" th:if="${employeeDoesNotExist}" th:text="${employeeDoesNotExist}"/>
        </div>

        <p class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"/>
        <p class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"/>
        <div class="row">
            <button type="submit" class="btn btn-default">Add</button>
        </div>

    </form>

    <button class="btn btn-default"> <a th:href="${'/admin/editProject/'+task.project_id}">Back</a></button>

</div>
<div th:replace="footer :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/js/getAllEmployees.js}"></script>
</html>
