<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminNavbar :: html_head">
</head>
<body>
<div th:replace="admin/adminNavbar :: navbar"></div>
<div class="container" style="min-height: 82.5vh;">

    <h3>Adding a new user:</h3>

    <form class="form-horizontal" th:object="${userWithRole}" th:action="@{/admin/addUser}" th:method="post">
        <input type="hidden" class="form-control" th:field="*{systemUser.id}"/><!-- getSystemUser() = systemUser -->

        <div class="form-group">
            <label class="control-label">First name:</label>
            <input type="text" class="form-control" th:field="*{systemUser.firstName}"/>
            <p class="alert alert-danger" th:if="${firstNameIsNull}" th:text="${firstNameIsNull}"/>
            <p class="alert alert-danger" th:if="${specialCharactersExists1}" th:text="${specialCharactersExists1}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Last name:</label>
            <input type="text" class="form-control" th:field="*{systemUser.lastName}"/>
            <p class="alert alert-danger" th:if="${lastNameIsNull}" th:text="${lastNameIsNull}"/>
            <p class="alert alert-danger" th:if="${specialCharactersExists2}" th:text="${specialCharactersExists2}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Username:</label>
            <input type="text" class="form-control" th:field="*{systemUser.username}"/>
            <p class="alert alert-danger" th:if="${incorrectLengthOfUsername}" th:text="${incorrectLengthOfUsername}"/>
            <p class="alert alert-danger" th:if="${usernameAllreadyExist}" th:text="${usernameAllreadyExist}"/>
            <p class="alert alert-danger" th:if="${specialCharactersExists3}" th:text="${specialCharactersExists3 }"/>
        </div>
        <div class="form-group">
            <label class="control-label">Password:</label>
            <input type="password" class="form-control" th:field="*{systemUser.password}"/>
            <p class="alert alert-danger" th:if="${invalidPassword}" th:text="${invalidPassword}"/>
        </div>

        <label class="control-label">Role:</label>
        <select th:field="*{role.role}">
            <option th:value="'EMPLOYEE'" th:text="EMPLOYEE"></option>
            <option th:value="'CUSTOMER'" th:text="CUSTOMER"></option>
            <option th:value="'ADMIN'" th:text="ADMIN"></option>
        </select>

        <!--<p class="alert alert-danger" th:if="${#fields.hasErrors('role.role')}" th:errors="*{role.role}"/> -->
        <p class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"/>
        <p class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"/>

        <div class="row">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

    </form>

</div>
<div th:replace="footer :: footer"></div>
</body>
</html>
