<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head">
    <title>Employee - Panel</title>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Busman Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <span class="nav-link" aria-current="page" >Logged as:  <span style="color: red" th:text="${name}"/> </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/employee/allProjects">All projects</a>
                        </li>

                        <li class="nav-item">
                            <form action="#" th:action="@{/logout}" method="post">
                                <input type="submit" value="Logout" />
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <h1 class="text-center">Employee Panel</h1>
    </div>
</body>
</html>



