<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/employeeNavbar :: html_head">
</head>

<body>
<div th:replace="employee/employeeNavbar :: navbar"></div>

<div class="container" style="min-height: 82.5vh;">
    <h3>Generator of monthly employee work reports</h3>

     <form class="form-horizontal" th:object="${data}" th:action="@{/employee/generateReport}" th:method="post">

         <div class="form-group">
             <label class="control-label">Select year:</label>
             <select class="form-control" th:field="*{year}">
                 <option th:value=2020 th:text="2020"></option>
                 <option th:value=2021 th:text="2021"></option>
                 <option th:value=2022 th:text="2022"></option>
                 <option th:value=2023 th:text="2023"></option>
                 <option th:value=2024 th:text="2024"></option>
                 <option th:value=2025 th:text="2025"></option>
                 <option th:value=2026 th:text="2026"></option>
                 <option th:value=2027 th:text="2027"></option>
                 <option th:value=2028 th:text="2028"></option>
                 <option th:value=2029 th:text="2029"></option>
                 <option th:value=2030 th:text="2030"></option>
                 <option th:value=2031 th:text="2031"></option>
                 <option th:value=2032 th:text="2032"></option>
                 <option th:value=2033 th:text="2033"></option>
                 <option th:value=2034 th:text="2034"></option>
                 <option th:value=2035 th:text="2035"></option>
                 <option th:value=2036 th:text="2036"></option>
                 <option th:value=2037 th:text="2037"></option>
                 <option th:value=2038 th:text="2038"></option>
                 <option th:value=2039 th:text="2039"></option>
                 <option th:value=2040 th:text="2040"></option>
             </select>
             <p class="alert alert-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"/>
         </div>

         <div class="form-group">
             <label class="control-label">Select month:</label>
             <select  class="form-control" th:field="*{month}">
                 <option th:value=1 th:text="JANUARY"></option>
                 <option th:value=2 th:text="FEBRUARY"></option>
                 <option th:value=3 th:text="MARCH"></option>
                 <option th:value=4 th:text="APRIL"></option>
                 <option th:value=5 th:text="MAY"></option>
                 <option th:value=6 th:text="JUNE"></option>
                 <option th:value=7 th:text="JULY"></option>
                 <option th:value=8 th:text="AUGUST"></option>
                 <option th:value=9 th:text="SEPTEMBER"></option>
                 <option th:value=10 th:text="OCTOBER"></option>
                 <option th:value=11 th:text="NOVEMBER"></option>
                 <option th:value=12 th:text="DECEMBER"></option>
             </select>
             <p class="alert alert-danger" th:if="${#fields.hasErrors('month')}" th:errors="*{month}"/>
         </div>

         <div class="form-group">
             <label class="control-label">Email:</label>
             <input type="text" class="form-control" th:field="*{email}"/>
             <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
             <p class="alert alert-danger" th:if="${emptyEmail}" th:text="${emptyEmail}"/>
         </div>


         <p class="alert alert-danger" th:if="${anyDoneTasks}" th:text="${anyDoneTasks}"/>
         <p class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"/>
         <p class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"/>

         <div class="row">
             <button type="submit" class="btn btn-default">Send</button>
         </div>

     </form>
</div>


<div th:replace="footer :: footer"></div>
</body>

</html>
