<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="employee/employeeNavbar :: html_head">
</head>
<head>
    <link th:href="@{/css/myTasks.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="employee/employeeNavbar :: navbar"></div>
    <div class="container" style="min-height: 82.5vh;">
        <h3>My tasks for project id: <span th:text="${projectId}"/> </h3>
        <form class="form-horizontal" th:object="${taskForm}" th:action="@{'/employee/project/'+${projectId}+'/tasks'}" th:method="post">
            <table class="table">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Time (H)</td>
                    <td>Cost(PLN)</td>
                    <td>Date of creation</td>
                    <td>Date of end</td>
                </tr>
                </thead>
                <tr th:if="${taskForm.tasks.empty}">
                    <td colspan="2"> No Tasks Available </td>
                </tr>
                        <fieldset>
                            <tbody>
                                <tr th:each="task, itemStat : *{tasks}">
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].id}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].project_id}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].employee_id}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].title}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].description}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].dateOfCreation}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].dateOfEnd}"/>
                                     <input type='hidden' th:field="*{tasks[__${itemStat.index}__].cost}"/>

                                     <td th:text="${task.title}"></td>

                                     <td>
                                         <button type="button" th:onclick="|showDescription('${task.id}')|">Details</button>
                                         <div th:id="'popup'+${task.id}" class="popup-wrapper hide">
                                             <div class="popup-content">
                                                 <div class="popup-title">
                                                     <button type="button" class="popup-close" th:onclick="|closeDescription('${task.id}')|">&times;</button>
                                                     <h3>Description of task: "<span th:text="${task.title}"></span>"</h3>
                                                 </div>
                                                 <div class="popup-body">
                                                     <p th:text="${task.description}"></p>
                                                 </div>
                                             </div>
                                         </div>
                                     </td>
                                     <td>
                                        <select th:field="*{tasks[__${itemStat.index}__].status}">
                                            <option th:value="'NEW'" th:text="NEW"></option>
                                            <option th:value="'IN_REALIZATION'" th:text="IN_REALIZATION"></option>
                                            <option th:value="'DONE'" th:text="DONE"></option>
                                        </select>
                                     </td>
                                     <td><input type='number' step='0.01' min="0" class="form-control" th:field="*{tasks[__${itemStat.index}__].neededTime}"/></td>
                                     <td th:text="${task.cost}"></td>
                                     <td th:text="${#temporals.format(task.dateOfCreation, 'dd-MM-yyyy')}"></td>
                                     <td th:text="${#temporals.format(task.dateOfEnd, 'dd-MM-yyyy')}"></td>
                                </tr>
                            </tbody>
                        </fieldset>
            </table>
            <p class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"/>
            <p class="alert alert-danger" th:if="${nothingHasChanged}" th:text="${nothingHasChanged}"/>
            <p class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"/>
            <button  th:if="${!taskForm.tasks.empty}" id="save" type="submit" class="btn btn-default" onclick="alert('Are you sure that you want to save changes ?')" >Save changes</button>
        </form>
    </div>
    <div th:replace="footer :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/js/description.js}"></script>
</html>
